/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'),
}
/* plus-jakarta-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  src: url('@fonts/plus-jakarta-sans-v3-latin-italic.woff2') format('woff2'),
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('@fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'),
}
/* plus-jakarta-sans-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  src: url('@fonts/plus-jakarta-sans-v3-latin-500italic.woff2') format('woff2'),
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('@fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'),
}
/* plus-jakarta-sans-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  src: url('@fonts/plus-jakarta-sans-v3-latin-600italic.woff2') format('woff2'),
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'),
}
